<h3>User Panel</h3>
<table>
	<tr>
		<td>
			<b>Nickname</b>
		<td>
		<td>
			<%= @user.nickname %>
		<td>
	</tr>
	<tr>
		<td>
			<b>Email</b>
		<td>
		<td>
			<%= @user.email %>
		<td>
	</tr>
	<tr>
		<td>
			<b>Lastlogin</b>
		<td>
		<td>
			<%= @user.last_sign_in_at %>
		<td>
	</tr>
</table>