<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="Character Stats">
  <meta name="author" content="Justin Liu">

  <link rel="stylesheet" href="style.css?v=1.0">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
<div><h1 style='font-size:70px; text-align:center;'><b>Character Stats</b></h1></div>
<div class="stats">
	<table border="1">
	    <tr>
	        <td><b>Character Name</b></td>
	        <td><b>Orkun</b></td>
	    </tr>
	    <tr>
	        <td><b>Job</b></td>
	        <td><b>Minecraft God</b></td>
	    </tr>
	    <tr>
	        <td><b>School</b></td>
	        <td><b>UC Berkeley</b></td>
	    </tr>
	    <tr>
	        <td><b>Nationality</b></td>
	        <td><b>Turkey</b></td>
	    </tr>
	    <tr>
	        <td><b>Major</b></td>
	        <td><b>Computer Science</b></td>
	    </tr>
	    <tr>
	        <td><b>GPA</b></td>
	        <td><b>1.0</b></td>
	    </tr>
	    <tr>
	        <td><b>Wealth</b></td>
	        <td><b>1,000,000,000 Turkey Money</b></td>
	    </tr>
	    <tr>
	        <td><b>Salary</b></td>
	        <td><b>25K/Month</b></td>
	    </tr>
	    <tr>
	        <td><b>Beauty</b></td>
	        <td><b>Sexy</b></td>
	    </tr>
	    <tr>
	        <td><b>Internship</b></td>
	        <td><b>None</b></td>
	    </tr>
	    <tr>
	        <td><b>Girlfriend</b></td>
	        <td><b>None</b></td>
	    </tr>
	    <tr>
	        <td><b>HP</b></td>
	        <td><b>100%</b></td>
	    </tr>
	    <tr>
	        <td><b>Mana</b></td>
	        <td><b>100%</b></td>
	    </tr>
	    <tr>
	        <td><b>Intelligence</b></td>
	        <td><b>None</b></td>
	    </tr>
	    <tr>
	        <td><b>Agility</b></td>
	        <td><b>None</b></td>
	    </tr>
	    <tr>
	        <td><b>Dexterity</b></td>
	        <td><b>None</b></td>
	    </tr>
	    <tr>
	        <td><b>Strength</b></td>
	        <td><b>None</b></td>
	    </tr>
	</table>
</div>
<img class = "character-img" src="http://puu.sh/otjpx/7940542d4f.png" width="350px">
</body>
</html>