.container {
    width: 600px;
    left: calc(50% - 300px);
    position: absolute;
    margin-top: 50px;
}

.response-form {
    font-size: 24px;
}
body {}

.container {
    position: absolute;
    left: calc(50% - 300px);
    width: 600px;
    margin-top: 120px;
}